
@{
    ViewBag.Title = "后台首页";
}

<h2>网站信息</h2>
<table class="detail-table">
    <tr>
        <td class="row-title">版本</td>
        <td>v0.9.0 alpha</td>
    </tr>
    <tr>
        <td class="row-title">数据库</td>
        <td>Microsoft SQL Server 2014 或更高</td>
    </tr>
    <tr>
        <td class="row-title">O/RM</td>
        <td>Entity Framework 7.0.0-beta6</td>
    </tr>
    <tr>
        <td class="row-title">.Net Framework / DNX Core</td>
        <td>4.5 / 5</td>
    </tr>
    <tr>
        <td class="row-title">系统需求</td>
        <td>Windows 2012 Server R2 或更高</td>
    </tr>
    <tr>
        <td class="row-title">技术支持</td>
        <td>哈尔滨市码锋科技有限责任公司</td>
    </tr>
</table>